header{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: aliceblue;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: aliceblue;
    padding: 20px;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh ;
    background-color: rgb(7,189,250);
}
img{
    height: 155px;
    width: 150px;
    border-radius: 50%;
}
.heading{
    margin-right: 20%;
}
#box{
    border: 2px solid black;
    height: 100px;
    width: 330px;
    display: inline-block;
    margin: 6px;
    padding: 8px;
}
.contactinfo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 50px;
}
.container{
    margin-left: 10%;
}
.projects{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    border-color: azure;
}
#footer{
    background-color: black;
    color: aliceblue;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}